* {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
	min-height: 100vh;
	background-color: #000;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.loader {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 10em;
}

.loader span {
	position: relative;
	font-size: 2em;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	animation: animate 2s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
	padding: 0.5em;
}

@keyframes animate {
	0%,
	40%,
	100% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-50px);
	}
}

#togglePlayState {
	display: block;
	font-size: 2em;
	background-color: #fff;
	text-transform: uppercase;
	padding: 0.5em;
	border-radius: 10px;
	margin: 2em auto;
}
